body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px !important;
}

.flex-center-x {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center-y, #nav__top, #nav__top ul, #nav__katalog ul, footer .sosial ul, .button {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center, #nav__katalog, #gallery__plus, #instagram, header, footer {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-between, #nav__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-y, #nav__katalog ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-v-1, .button__plus {
  border-color: white;
  border-radius: 5px;
  padding: 7px 15px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#nav__top h1, #nav__katalog h1, #nav__footer h1 {
  color: white;
  font-size: 2em;
}

#nav__top li, #nav__katalog li, #nav__footer li {
  font-size: 2em;
  color: white;
}

#nav__footer a {
  color: white;
}

#instagram a {
  font-size: 3em;
  color: #372424;
  margin-bottom: 1.5em;
}

#gallery__title {
  font-size: 3em;
  color: white;
  text-align: center;
}

#nav__top {
  width: 70%;
}

#nav__top ul {
  width: 40%;
  height: 100px;
}

#nav__katalog {
  width: 100%;
  height: 300px;
  background-color: #cbc2b9;
  -webkit-box-shadow: 1px 1px 5px gray;
          box-shadow: 1px 1px 5px gray;
}

#nav__katalog ul {
  width: 80%;
}

#nav__katalog ul li {
  margin: 0.5em;
  padding: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 10px 2px black;
          box-shadow: 1px 1px 10px 2px black;
}

#nav__katalog ul li a {
  width: 100px;
  height: 100px;
}

#nav__katalog ul li a img {
  height: 100%;
  width: 100%;
}

#nav__katalog ul li i {
  display: block;
}

#nav__footer {
  width: 70%;
  height: 100%;
}

#nav__footer ul li {
  margin: 1em;
}

#gallery__plus {
  width: 100%;
  height: 100px;
}

#gallery {
  background-color: #372424;
  height: auto;
  padding-bottom: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#gallery__title {
  margin: 2em;
}

#gallery__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#gallery__grid li {
  background-color: white;
}

#gallery__grid li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#instagram {
  height: 200px;
  background-color: #cbc2b9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#instagram h2 {
  margin-bottom: 1.5em;
}

@media (max-width: 1900px) {
  #gallery__grid li {
    width: calc(24.25%);
    margin-right: 1%;
    margin-bottom: 1%;
    height: 250px;
  }
  #gallery__grid li:nth-child(4n) {
    margin-right: 0;
  }
}

@media (max-width: 1120px) {
  #gallery__grid li {
    width: calc(32.66667%);
    margin-right: 1%;
    margin-bottom: 1%;
    height: 300px;
  }
  #gallery__grid li:nth-child(3n) {
    margin-right: 0;
  }
}

header {
  width: 100%;
  background-color: #372424;
}

header .header__logo {
  height: 90px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
}

header .header__logo img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

footer {
  padding: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
  background-color: #372424;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .logo {
  width: 200px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

footer .logo img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -o-object-fit: cover;
     object-fit: cover;
}

#slider {
  width: 100%;
  height: 650px;
  position: relative;
  overflow: hidden;
}

#slider .slides {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}

#slider .slide {
  width: 100vw;
  height: 100%;
}

#slider .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button button {
  background-color: lightgray;
  border: none;
}

.button .fas {
  font-size: 40px;
  color: #372424;
}

.button__plus {
  background: none;
  color: white;
}
