body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px !important;
}

.flex-center-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center-y, #nav__top, #nav__top ul, #nav__katalog ul, .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center, #nav__katalog, header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#nav__top h1, #nav__katalog h1 {
  color: white;
  font-size: 2em;
}

#nav__top li, #nav__katalog li {
  font-size: 2em;
  color: white;
}

#nav__top {
  width: 70%;
}

#nav__top ul {
  width: 40%;
  height: 100px;
}

#nav__katalog {
  width: 100%;
  height: 100px;
}

#nav__katalog ul {
  width: 50%;
}

#gallery {
  margin-top: 50px;
  background-color: #372424;
  height: auto;
  padding-bottom: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#gallery__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#gallery__grid li {
  width: calc(32%);
  margin-right: 2%;
  margin-bottom: 2%;
  height: 500px;
  background-color: white;
}

#gallery__grid li:nth-child(3n) {
  margin-right: 0;
}

#gallery__grid li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1120px) {
  #gallery__grid li {
    width: calc(32%);
    margin-right: 2%;
    margin-bottom: 2%;
  }
  #gallery__grid li:nth-child(3n) {
    margin-right: 0;
  }
}

header {
  width: 100%;
  background-color: #372424;
}

#slider {
  width: 100%;
  height: 650px;
  position: relative;
}

#slider .slides {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
}

#slider .slide {
  border: 4px solid white;
  width: 50%;
  height: 100%;
}

#slider .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button button {
  background: none;
  border: none;
}

.button .fas {
  font-size: 40px;
  color: #372424;
}
