header{
    width: 100%;
    background-color: $thirdary-color;
    position: fixed;
    top: 20px;
    @extend .flex-center;
}
#contact__header{
    position: static;
    background-color: $main-color !important;
}