#nav__top{
    width: 70%;
    @extend .flex-center-y;
    .navbar{
        width: 40%;
        @extend .flex-center-y;
        li{
            position: relative;
            transition: all ease .5s;
        }
    }
}

#nav__footer{
    width: 70%;
    height: 100%;
    @extend .flex-between;
    ul{
        li{
            margin: 1em 1em 1em 0;
        }
    }
}
#gallery__plus{
    width: 100%;
    height: 100px;
    @extend .flex-center;
}


// mobil navbar icon 

#nav__top{
    .navbar__icon{
        display: none;
    }
}