#slider{
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
    .slides{
        width: auto;
        height: 100%;
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
    }
    .slide{
        width: 100vw;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}