
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px !important;
}
.flex-center-x{
    display: flex;
    justify-content: center;
}
.flex-center-y{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center{
    display: flex !important;
    justify-content: center;
    align-items: center;
}