#nav__top, #nav__katalog,#nav__footer{
    h1{
        color: white;
        font-size: 2em;
    }
    li{
        font-size: 2em;
        color: white;
    }
}

#nav__footer{
    a{
        color: white;
    }
    
}
#instagram{
    a{
        font-size: 3em;
        color: $main-color;
        margin-bottom: 1.5em;
    }
    
}

#gallery__title{
    font-size: 3em;
    color: white;
    text-align: center;
}


#child__title{
    font-size: 3em;
}
