#nav__top, #nav__katalog,#nav__footer{
    h1{
        color: white;
        font-size: 3em;
    }
    li{
        font-size: 2em;
        color: white;
    }
}
.pi__funiture{
    color: white;
    font-size: 5em;
    letter-spacing: 3px;
    font-family: "smoch",cursive;
}
#nav__footer{
    a{
        color: white;
    }
    
}
#instagram{
    a{
        font-size: 3em;
        color: $main-color;
        margin-bottom: 1.5em;
    }
    
}

#gallery__title{
    font-size: 3em;
    color: white;
    text-align: center;
}


#child__title{
    font-size: 3em;
}


// contact
#contact{
    &__title{
        font-size: 3em;
        letter-spacing: 3px;
    }
    #submit{
        background-color: $main-color;
        color: white;
    }
}

#name,#lname,#email,#textarea{
    font-size: 1.5em;
    color: $main-color;

}
